# =========================
# Keep empty directories
# =========================

# Ignore all contents
.swp/*
.backup/*
.undo/*

# But keep directory placeholders
!.swp/.gitkeep
!.backup/.gitkeep
!.undo/.gitkeep
